  <ul class="active">
                                 <li>
                                     <a href="javascript:void(0);">
                                         <div class="member-view-box">
                                             <div class="member-image">
                                                 <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                 <div class="member-details">
                                                     <h3>John Doe</h3>
                                                 </div>
                                             </div>
                                         </div>
                                     </a>
                                     <ul>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                     </ul>
                                 </li>
                                 <li>
                                     <a href="javascript:void(0);">
                                         <div class="member-view-box">
                                             <div class="member-image">
                                                 <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                 <div class="member-details">
                                                     <h3>John Doe</h3>
                                                 </div>
                                             </div>
                                         </div>
                                     </a>
                                     <ul>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                     </ul>
                                 </li>
                                 <li>
                                     <a href="javascript:void(0);">
                                         <div class="member-view-box">
                                             <div class="member-image">
                                                 <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                 <div class="member-details">
                                                     <h3>John Doe</h3>
                                                 </div>
                                             </div>
                                         </div>
                                     </a>
                                     <ul>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                         <li>
                                             <a href="javascript:void(0);">
                                                 <div class="member-view-box">
                                                     <div class="member-image">
                                                         <img src="https://image.flaticon.com/icons/svg/145/145867.svg" alt="Member">
                                                         <div class="member-details">
                                                             <h3>John Doe</h3>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </a>
                                         </li>
                                     </ul>
                                 </li>
                             </ul>