.title-header {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 60px;
    font-weight: bold;
    color: #B71C1C;
}

.navbar-nav {
    font-family: 'Calibri', 'sans-serif';
    font-size: 130%;
}
